/* -------------*/
/* BASIC SETUP */
/*--------------*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    

}

html,
body {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{zoom: 1;}
.clearfix:after {
 content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.ul{
    color: azure
}
/* -------------------*/
/* REUSABLE COMPONENTS*/
/*---------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
    
    
}

.header{
    background-color: #f6f6f6;
}
.box{
    padding: 1%;
    
}

section{
    padding: 80px 0px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-right: 30px;
  display: inline-block;
   
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-left: 120px;
}

.btn-full:link,
.btn-full:visited{
    background-color: #57cbef;
     border: 1px solid #38c2ec;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #887565;
}

.btn:hover,
.btn:active{
    background-color: #355ffa;
}

.btn-full:hover,
.btn-full:active{
     border: 1px solid #2452fa;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
}
/* -------------------*/
/* HEADING COMPONENTS*/
/*---------------------*/

h1,
h2,
h3,
h4{
   
    font-weight: 300;
    text-transform: uppercase;
    
}

h1{
     margin-top:0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 210%;
    word-spacing: 4px;
     letter-spacing: 1.5px;
}

h2{
   font-size: 180%;
    word-spacing: 3.5px;
    text-align: center;
    margin-bottom: 30px;
     letter-spacing: 1.5px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #29bdea;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h4{
    font-size: 80%;
    padding-bottom: 20px
}

.span{
    font-size: 100%;
    margin-bottom: 15px;
}
/* -------------------*/
/* MAIN NAV             */
/*---------------------*/

.main-nav{
    float: right;
    list-style:none;
    margin-top:45px;
    
}
.logo{
    height: 70px;
    width: 115px;
    float:left;
    border-radius: 5%;
    margin-top: 8px;
}

.main-nav li{
 display:inline-block;
    margin-left:40px;
   margin-bottom: 30px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #7395ae;
}

/* -------------------*/
/*video section*/
/*---------------------*/
.video-section{
    padding: 0;
}

.center {
    margin: 0 auto; 
    width: 1350px; 
    height: 420px;
    display: block;
}
/* -------------------*/
/*value preposition section*/
/*---------------------*/
.section-valuepreposition{
 padding: 10px;
 text-align: center;
 background-color: #7793fc;
}

/* -------------------*/
/* inpirasi section   */
/*---------------------*/
.section-inspirasi{
   background-color: #e4e6eb;
   padding: 30px;
}

.steps-intro{
margin-top: 30px;
}

.patients{
width: 100%;
height: auto;
padding-left: 50px;
}

/* -------------------*/
/* customer testimonial section*/
/*---------------------*/
.section-customertestimonial{
    padding: 20px 0px 0px 0px;
    background-color: #eeeff2;
}



/* -------------------*/
/* ciri-ciri section*/
/*---------------------*/
.section-step{
background-color: #f5f5f5;
padding-top: 22px;
}

.steps-box{
   margin-top: 30px;
     
}

.steps-box:first-child{
    text-align: right;
    margin-top: 30px;
    
}

.steps-box:last-child{
   padding-left: 3%;
    margin-top: 70;
}

.app-screen{
    width: 102%
}

.work-step{
    margin-bottom: 50px;
    
}

.work-step:last-of-type{
margin-bottom: 80px;
}

.work-step div {
    color: #29bdea;
    border: 2px solid #5894a7;
    display:inline-block;
    border-radius: 50%;
    height: 50px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}


/* -------------*/
/*--FOOTER---*/
/*--------------*/

footer{
    padding: 5px;
    font-size: 80%;
    bottom: 0;
    background-color: #333;
    width: 100;
    clear: both;
    color: #aaa2a2
    
}

.footer-nav{
   display: inline-block;
   width: 100%;
    list-style: none;
    float: left;
    margin-right: 0;
}

.social-links{
    list-style: none;
    float: right;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    font-size: 80%;
} 

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram{
    -webkit-transition: color 0.28s;
    transition: color 0.28s;
}

.ion-social-facebook:hover{
    color: #3b5988
}

.ion-social-twitter:hover{
    color: #80aced
}


.ion-social-instagram:hover{
    color: #517fa4
}
footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

